<p>Chat-GPT APiを通じて回答を得ます。
    <br>
    なんか入力してください。
</p>


<mat-form-field>
    <mat-label>prompt</mat-label>
    <textarea  matInput [(ngModel)]="enterdPrompt" placeholder="入力してください"></textarea>
</mat-form-field>

<button class="button" mat-raised-button color="accent" (click)="callImggen()">imgen</button> 
<button class="button" mat-raised-button color="accent" (click)="callGPT()">gpt</button>

<mat-spinner [diameter]="50" mode="indeterminate" *ngIf="isLoading$ | async"></mat-spinner>

<p>{{response}}</p>